# QUES1.Try 5 different functions of the string in python

In [1]:
str1="Lets upgrade"
str1

'Lets upgrade'

In [2]:
# replacing L with l
str1.replace("L", "l")

'lets upgrade'

In [3]:
# swapping the cases of string 1
str1.swapcase()

'lETS UPGRADE'

In [4]:
#finding the index of D
str1.find("D")

-1

In [5]:
# check string ends with l or not
str1.endswith("l")

False

In [ ]:
QUES2. Try 5 different functions of the list object in python

In [7]:
lst1 = [1, 5.6, "Hello", "World", 7, ['Lets', 'Upgrade', 25]]
lst1

[1, 5.6, 'Hello', 'World', 7, ['Lets', 'Upgrade', 25]]

In [8]:
# Check the index of element/string "world"
lst1.index("World")

3

In [9]:

# Adding 3 to end of list
lst1.append(3)
lst1

[1, 5.6, 'Hello', 'World', 7, ['Lets', 'Upgrade', 25], 3]

In [10]:
# pop the last element 
lst1.pop()

3

In [11]:
# insert 55 at location 3
lst1.insert(3, 55)
lst1

[1, 5.6, 'Hello', 55, 'World', 7, ['Lets', 'Upgrade', 25]]

In [ ]:
# remove 55 from the list
lst1.remove(55)
lst1

QUES3.Experiment with 5 different functions of dictionary

In [12]:
dict1 = {'Name':'Monark', 'Age':'15', 'Class':'9', 56: 'black'}
dict1

{'Name': 'Monark', 'Age': '15', 'Class': '9', 56: 'black'}

In [13]:

# Print all the keys of dictionary
dict1.keys()

dict_keys(['Name', 'Age', 'Class', 56])

In [14]:
# print all the values of dictionay
dict1.values()

dict_values(['Monark', '15', '9', 'black'])

In [15]:
# creating the copy of dict1
d2 = dict1.copy()
d2

{'Name': 'Monark', 'Age': '15', 'Class': '9', 56: 'black'}

In [16]:
# pop the key 56 from the copied dictionary
d2.pop(56)
d2

{'Name': 'Monark', 'Age': '15', 'Class': '9'}

In [17]:
# print all the key value pair of dictionary1
dict1.items()

dict_items([('Name', 'Monark'), ('Age', '15'), ('Class', '9'), (56, 'black')])